<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-child-heading" data-cy="ChildCreateUpdateHeading" jhiTranslate="emergencyAlertApp.child.home.createOrEditLabel">
        Create or edit a Child
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="emergencyAlertApp.child.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="emergencyAlertApp.child.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let ageRef = editForm.get('age')!;
        <div class="mb-3">
          <label class="form-label" for="field_age" jhiTranslate="emergencyAlertApp.child.age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
          @if (ageRef.invalid && (ageRef.dirty || ageRef.touched)) {
            <div>
              @if (editForm.get('age')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('age')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_emergencyContact" jhiTranslate="emergencyAlertApp.child.emergencyContact"
            >Emergency Contact</label
          >
          <input
            type="text"
            class="form-control"
            name="emergencyContact"
            id="field_emergencyContact"
            data-cy="emergencyContact"
            formControlName="emergencyContact"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_geoFence" jhiTranslate="emergencyAlertApp.child.geoFence">Geo Fence</label>
          <select
            class="form-control"
            id="field_geoFence"
            data-cy="geoFence"
            name="geoFence"
            formControlName="geoFence"
            [compareWith]="compareGeoFence"
          >
            <option [ngValue]="null"></option>
            @for (geoFenceOption of geoFencesCollection; track $index) {
              <option [ngValue]="geoFenceOption">{{ geoFenceOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_batteryStatus" jhiTranslate="emergencyAlertApp.child.batteryStatus">Battery Status</label>
          <select
            class="form-control"
            id="field_batteryStatus"
            data-cy="batteryStatus"
            name="batteryStatus"
            formControlName="batteryStatus"
            [compareWith]="compareBatteryStatus"
          >
            <option [ngValue]="null"></option>
            @for (batteryStatusOption of batteryStatusesCollection; track $index) {
              <option [ngValue]="batteryStatusOption">{{ batteryStatusOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_teacher" jhiTranslate="emergencyAlertApp.child.teacher">Teacher</label>
          <select
            class="form-control"
            id="field_teacher"
            data-cy="teacher"
            name="teacher"
            formControlName="teacher"
            [compareWith]="compareTeacher"
          >
            <option [ngValue]="null"></option>
            @for (teacherOption of teachersSharedCollection; track $index) {
              <option [ngValue]="teacherOption">{{ teacherOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_parent" jhiTranslate="emergencyAlertApp.child.parent">Parent</label>
          <select
            class="form-control"
            id="field_parent"
            data-cy="parent"
            name="parent"
            formControlName="parent"
            [compareWith]="compareParent"
          >
            <option [ngValue]="null"></option>
            @for (parentOption of parentsSharedCollection; track $index) {
              <option [ngValue]="parentOption">{{ parentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
