<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tongueTwister(); as tongueTwisterRef) {
      <div>
        <h2 data-cy="tongueTwisterDetailsHeading">
          <span jhiTranslate="communicationApp.tongueTwister.detail.title">Tongue Twister</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ tongueTwisterRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="communicationApp.tongueTwister.text">Text</span></dt>
          <dd>
            <span>{{ tongueTwisterRef.text }}</span>
          </dd>
          <dt><span jhiTranslate="communicationApp.tongueTwister.language">Language</span></dt>
          <dd>
            <span>{{ tongueTwisterRef.language }}</span>
          </dd>
          <dt><span jhiTranslate="communicationApp.tongueTwister.difficultyLevel">Difficulty Level</span></dt>
          <dd>
            <span>{{ tongueTwisterRef.difficultyLevel }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/tongue-twister', tongueTwisterRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
