<div>
  <h2 id="page-heading" data-cy="PomodoroBreakHeading">
    <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.home.title">Pomodoro Breaks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pomodoro-break"
        [routerLink]="['/pomodoro-break/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.home.createLabel">Create a new Pomodoro Break</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (pomodoroBreaks().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.home.notFound">No Pomodoro Breaks found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalWorkingHour">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.totalWorkingHour">Total Working Hour</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dailyDurationOfWork">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.dailyDurationOfWork">Daily Duration Of Work</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="splitBreakDuration">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.splitBreakDuration">Split Break Duration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="breakDuration">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.breakDuration">Break Duration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="completedBreaks">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.completedBreaks">Completed Breaks</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateOfPomodoro">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.dateOfPomodoro">Date Of Pomodoro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timeOfPomodoroCreation">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.timeOfPomodoroCreation">Time Of Pomodoro Creation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notificationForBreak">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.notificationForBreak">Notification For Break</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="finalMessage">
              <div class="d-flex">
                <span jhiTranslate="pomodoroBreakApp.pomodoroBreak.finalMessage">Final Message</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (pomodoroBreak of pomodoroBreaks(); track trackId(pomodoroBreak)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/pomodoro-break', pomodoroBreak.id, 'view']">{{ pomodoroBreak.id }}</a>
              </td>
              <td>{{ pomodoroBreak.totalWorkingHour }}</td>
              <td>{{ pomodoroBreak.dailyDurationOfWork }}</td>
              <td>{{ pomodoroBreak.splitBreakDuration }}</td>
              <td>{{ pomodoroBreak.breakDuration }}</td>
              <td>{{ pomodoroBreak.completedBreaks }}</td>
              <td>{{ pomodoroBreak.dateOfPomodoro | formatMediumDatetime }}</td>
              <td>{{ pomodoroBreak.timeOfPomodoroCreation | formatMediumDatetime }}</td>
              <td>{{ pomodoroBreak.notificationForBreak }}</td>
              <td>{{ pomodoroBreak.finalMessage }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/pomodoro-break', pomodoroBreak.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/pomodoro-break', pomodoroBreak.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(pomodoroBreak)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
