<div>
  <h2 id="page-heading" data-cy="ChildHeading">
    <span jhiTranslate="emergencyAlertApp.child.home.title">Children</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="emergencyAlertApp.child.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-child"
        [routerLink]="['/child/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emergencyAlertApp.child.home.createLabel">Create a new Child</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (children().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="emergencyAlertApp.child.home.notFound">No Children found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="emergencyAlertApp.child.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="age">
              <div class="d-flex">
                <span jhiTranslate="emergencyAlertApp.child.age">Age</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emergencyContact">
              <div class="d-flex">
                <span jhiTranslate="emergencyAlertApp.child.emergencyContact">Emergency Contact</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="geoFence.id">
              <div class="d-flex">
                <span jhiTranslate="emergencyAlertApp.child.geoFence">Geo Fence</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="batteryStatus.id">
              <div class="d-flex">
                <span jhiTranslate="emergencyAlertApp.child.batteryStatus">Battery Status</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="teacher.id">
              <div class="d-flex">
                <span jhiTranslate="emergencyAlertApp.child.teacher">Teacher</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parent.id">
              <div class="d-flex">
                <span jhiTranslate="emergencyAlertApp.child.parent">Parent</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (child of children(); track trackId(child)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/child', child.id, 'view']">{{ child.id }}</a>
              </td>
              <td>{{ child.name }}</td>
              <td>{{ child.age }}</td>
              <td>{{ child.emergencyContact }}</td>
              <td>
                @if (child.geoFence) {
                  <div>
                    <a [routerLink]="['/geo-fence', child.geoFence.id, 'view']">{{ child.geoFence.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (child.batteryStatus) {
                  <div>
                    <a [routerLink]="['/battery-status', child.batteryStatus.id, 'view']">{{ child.batteryStatus.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (child.teacher) {
                  <div>
                    <a [routerLink]="['/teacher', child.teacher.id, 'view']">{{ child.teacher.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (child.parent) {
                  <div>
                    <a [routerLink]="['/parent', child.parent.id, 'view']">{{ child.parent.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/child', child.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/child', child.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(child)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (children().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
