<div>
  <h2 id="page-heading" data-cy="DailyJournalHeading">
    <span jhiTranslate="dailyJournalApp.dailyJournal.home.title">Daily Journals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dailyJournalApp.dailyJournal.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-daily-journal"
        [routerLink]="['/daily-journal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dailyJournalApp.dailyJournal.home.createLabel">Create a new Daily Journal</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (dailyJournals?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="dailyJournalApp.dailyJournal.home.notFound">No Daily Journals found</span>
    </div>
  }

  @if (dailyJournals && dailyJournals.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="dailyJournalApp.dailyJournal.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="dailyJournalApp.dailyJournal.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="dailyJournalApp.dailyJournal.content">Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="dailyJournalApp.dailyJournal.date">Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dailyJournal of dailyJournals; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/daily-journal', dailyJournal.id, 'view']">{{ dailyJournal.id }}</a>
              </td>
              <td>{{ dailyJournal.title }}</td>
              <td>{{ dailyJournal.content }}</td>
              <td>{{ dailyJournal.date | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/daily-journal', dailyJournal.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/daily-journal', dailyJournal.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(dailyJournal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
