<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-pomodoro-break-heading"
        data-cy="PomodoroBreakCreateUpdateHeading"
        jhiTranslate="pomodoroBreakApp.pomodoroBreak.home.createOrEditLabel"
      >
        Create or edit a Pomodoro Break
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="pomodoroBreakApp.pomodoroBreak.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_userName" jhiTranslate="pomodoroBreakApp.pomodoroBreak.userName">User Name</label>
          <input type="text" class="form-control" name="userName" id="field_userName" data-cy="userName" formControlName="userName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalWorkingHour" jhiTranslate="pomodoroBreakApp.pomodoroBreak.totalWorkingHour"
            >Total Working Hour</label
          >
          <input
            type="number"
            class="form-control"
            name="totalWorkingHour"
            id="field_totalWorkingHour"
            data-cy="totalWorkingHour"
            formControlName="totalWorkingHour"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dailyDurationOfWork" jhiTranslate="pomodoroBreakApp.pomodoroBreak.dailyDurationOfWork"
            >Daily Duration Of Work</label
          >
          <input
            type="number"
            class="form-control"
            name="dailyDurationOfWork"
            id="field_dailyDurationOfWork"
            data-cy="dailyDurationOfWork"
            formControlName="dailyDurationOfWork"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_splitBreakDuration" jhiTranslate="pomodoroBreakApp.pomodoroBreak.splitBreakDuration"
            >Split Break Duration</label
          >
          <input
            type="number"
            class="form-control"
            name="splitBreakDuration"
            id="field_splitBreakDuration"
            data-cy="splitBreakDuration"
            formControlName="splitBreakDuration"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_breakDuration" jhiTranslate="pomodoroBreakApp.pomodoroBreak.breakDuration"
            >Break Duration</label
          >
          <input
            type="number"
            class="form-control"
            name="breakDuration"
            id="field_breakDuration"
            data-cy="breakDuration"
            formControlName="breakDuration"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_completedBreaks" jhiTranslate="pomodoroBreakApp.pomodoroBreak.completedBreaks"
            >Completed Breaks</label
          >
          <input
            type="number"
            class="form-control"
            name="completedBreaks"
            id="field_completedBreaks"
            data-cy="completedBreaks"
            formControlName="completedBreaks"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateOfPomodoro" jhiTranslate="pomodoroBreakApp.pomodoroBreak.dateOfPomodoro"
            >Date Of Pomodoro</label
          >
          <div class="d-flex">
            <input
              id="field_dateOfPomodoro"
              data-cy="dateOfPomodoro"
              type="datetime-local"
              class="form-control"
              name="dateOfPomodoro"
              formControlName="dateOfPomodoro"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_timeOfPomodoroCreation" jhiTranslate="pomodoroBreakApp.pomodoroBreak.timeOfPomodoroCreation"
            >Time Of Pomodoro Creation</label
          >
          <div class="d-flex">
            <input
              id="field_timeOfPomodoroCreation"
              data-cy="timeOfPomodoroCreation"
              type="datetime-local"
              class="form-control"
              name="timeOfPomodoroCreation"
              formControlName="timeOfPomodoroCreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notificationForBreak" jhiTranslate="pomodoroBreakApp.pomodoroBreak.notificationForBreak"
            >Notification For Break</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="notificationForBreak"
            id="field_notificationForBreak"
            data-cy="notificationForBreak"
            formControlName="notificationForBreak"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_finalMessage" jhiTranslate="pomodoroBreakApp.pomodoroBreak.finalMessage"
            >Final Message</label
          >
          <input
            type="text"
            class="form-control"
            name="finalMessage"
            id="field_finalMessage"
            data-cy="finalMessage"
            formControlName="finalMessage"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
