<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userEntity(); as userEntityRef) {
      <div>
        <h2 data-cy="userEntityDetailsHeading"><span jhiTranslate="habittrackBackendApp.userEntity.detail.title">User Entity</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ userEntityRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="habittrackBackendApp.userEntity.userId">User Id</span></dt>
          <dd>
            <span>{{ userEntityRef.userId }}</span>
          </dd>
          <dt><span jhiTranslate="habittrackBackendApp.userEntity.userName">User Name</span></dt>
          <dd>
            <span>{{ userEntityRef.userName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/user-entity', userEntityRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
