<div>
  <h2 id="page-heading" data-cy="HabitTrackerHeading">
    <span jhiTranslate="habittrackBackendApp.habitTracker.home.title">Habit Trackers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="habittrackBackendApp.habitTracker.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-habit-tracker"
        [routerLink]="['/habit-tracker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="habittrackBackendApp.habitTracker.home.createLabel">Create a new Habit Tracker</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (habitTrackers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="habittrackBackendApp.habitTracker.home.notFound">No Habit Trackers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="habitId">
              <div class="d-flex">
                <span jhiTranslate="habittrackBackendApp.habitTracker.habitId">Habit Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="habitName">
              <div class="d-flex">
                <span jhiTranslate="habittrackBackendApp.habitTracker.habitName">Habit Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="habittrackBackendApp.habitTracker.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="habittrackBackendApp.habitTracker.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="habittrackBackendApp.habitTracker.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (habitTracker of habitTrackers(); track trackId(habitTracker)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/habit-tracker', habitTracker.id, 'view']">{{ habitTracker.id }}</a>
              </td>
              <td>{{ habitTracker.habitId }}</td>
              <td>{{ habitTracker.habitName }}</td>
              <td>{{ habitTracker.description }}</td>
              <td>{{ habitTracker.startDate }}</td>
              <td>{{ habitTracker.endDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/habit-tracker', habitTracker.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/habit-tracker', habitTracker.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(habitTracker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
