<div>
  <h2 id="page-heading" data-cy="PerfectDayHeading">
    <span jhiTranslate="perfectdaybackendApp.perfectDay.home.title">Perfect Days</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="perfectdaybackendApp.perfectDay.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-perfect-day"
        [routerLink]="['/perfect-day/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="perfectdaybackendApp.perfectDay.home.createLabel">Create a new Perfect Day</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (perfectDays().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="perfectdaybackendApp.perfectDay.home.notFound">No Perfect Days found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="perfectdaybackendApp.perfectDay.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="perfectdaybackendApp.perfectDay.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="perfectdaybackendApp.perfectDay.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="perfectdaybackendApp.perfectDay.date">Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (perfectDay of perfectDays(); track trackId(perfectDay)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/perfect-day', perfectDay.id, 'view']">{{ perfectDay.id }}</a>
              </td>
              <td>{{ perfectDay.title }}</td>
              <td>{{ perfectDay.description }}</td>
              <td>{{ perfectDay.date | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/perfect-day', perfectDay.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/perfect-day', perfectDay.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(perfectDay)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
